#SubNavPictures{
    background-color:rgba(255, 0, 140, 0.5);
}

#Picture0{
    background-image: url('../Assets/Images/Pictures_ColorfulWindow.jpg');
}

#Picture2{
    background-image: url('../Assets/Images/Pictures_SingleLock.png');
}

#Picture13{
    background-image: url('../Assets/Images/Pictures_Zentrum.png');
}

#Picture1{
    background-image: url('../Assets/Images/Pictures_Locks.png');
}

#Picture16{
    background-image: url('../Assets/Images/Pictures_Window.png');
}

#Picture3{
    background-image: url('../Assets/Images/Pictures_StopSign.png');
}

#Picture4{
    background-image: url('../Assets/Images/Pictures_RedRoses.png');
}

#Picture8{
    background-image: url('../Assets/Images/Pictures_CircleLandscape.png');
}

#Picture14{
    background-image: url('../Assets/Images/Pictures_SnowedTree.png');
}

#Picture11{
    background-image: url('../Assets/Images/Pictures_RollerCoaster.png');
}

#Picture5{
    background-image: url('../Assets/Images/Pictures_RedFlowers.png');
}

#Picture15{
    background-image: url('../Assets/Images/Pictures_Boat.png');
}

#Picture17{
    background-image: url('../Assets/Images/Pictures_Church.png');
}

#Picture6{
    background-image: url('../Assets/Images/Pictures_Fruits.png');
}

#Picture7{
    background-image: url('../Assets/Images/Pictures_Dandelions.png');
}

#Picture9{
    background-image: url('../Assets/Images/Pictures_Lake.png');
}

#Picture10{
    background-image: url('../Assets/Images/Pictures_Prater.png');
}

#Picture12{
    background-image: url('../Assets/Images/PIctures_PinkFlowers.png');
}